<html>
  <body>

    <footer>
      
      <wa-divider></wa-divider>
      
      <div class="row">

        <div id="social" class="column">

          <p class="spaced-header">FIND ME ON:</p>

          <div id="social" class="social-buttons">
            <a href="https://arxiv.org/search/math?searchtype=author&query=Tsantilas,+T"><img src="/images/arxiv-logo.png" id="arXiv"></img></a>
            <a href="https://gitlab.com/teotsan"><wa-icon id="gitlab" name="gitlab" family="brands"></wa-icon></a>
            <a href="https://github.com/teotsan"><wa-icon id="github" name="github" family="brands"></wa-icon></a>
	          <a href="https://scholar.google.com/citations?user=tc1QtkYAAAAJ&hl=el&oi=ao"><wa-icon id="google-scholar" name="google-scholar" family="brands"></wa-icon></a>
          </div>

          <wa-tooltip for="arXiv">arXiv</wa-tooltip>
          <wa-tooltip for="gitlab">GitLab</wa-tooltip>
          <wa-tooltip for="github">GitHub</wa-tooltip>
          <wa-tooltip for="google-scholar">Google Scholar</wa-tooltip>

        </div>
          
        <div class="column">

          <p id="social" class="spaced-header">QUICK LINKS</p>

	        <p><a href="http://classics.mit.edu/Khayyam/rubaiyat.html">Rubaiyat of Omar Khayyam</a> <br> 
          <a href="https://www.youtube.com/watch?v=GJ1S3tFaImo">Richard Elwes - Grothendieck song</a> <br>  
          <a href="https://www.youtube.com/watch?v=gXlfXirQF3A&list=RDgXlfXirQF3A&start_radio=1">Tom Lehrer - Lobachevsky</a> <br>
          <a id="Merlin">Merlin</a> (female) &bull; <a id="Gandalf">Gandalf</a> (male)</p>

          <wa-tooltip for="Merlin"><img src="/images/merlin.jpg"></wa-tooltip>
          <wa-tooltip for="Gandalf"><img src="/images/gandy.jpg"></wa-tooltip>

        </div>

        <div id="footlogo">
          <img src="/images/favicon.png">
        </div>

        <wa-tooltip for="footlogo">hyperbolic octahedron</wa-tooltip>
        
      </div> 
    
      <p id="copyright">&copy Theofilos Tsantilas 2026. All Rights Reserved &bull; <a href="/pages/disclaimer.html">Disclaimer</a> <span class="last-update">Last update: 09/07/2026</span></p>
      
    </footer>
  
  </body>
</html>