<html>
  <body>
    <header class="header">
      
      <div class="identity-and-menu">
        
        <div class="site-identity">
          <h1 style="margin-bottom: -15px;" class="site-name">THEOFILOS</h1>
          <h1 class="site-name">TSANTILAS</h1>
          <p class="site-tagline"> Ph.D. student in Mathematics </p>
        </div>
        

        <nav id="menu">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/personal.html">Personal Info</a></li>
            <li><a href="/pages/links.html">Math Links</a></li>
            <li><a href="/pages/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
      
      <wa-divider></wa-divider>
  
    </header>

  </body>
</html>