<div class="minorcolumn">

  <wa-divider></wa-divider>

  <p class="spaced-header" style="text-align: center;"> LATEST NEWS </p>

  <wa-divider></wa-divider>

  <p><b>(27/10)</b> The <a href="https://ct2026.com/">2026 International Category Theory Conference (CT2026)</a> will be held
    in July 2026 in Baltimore, USA and online.</p>

  <p><b>(27/10)</b> The <a href="https://actconf2026.github.io/index.html">9th International Conference on Applied
      Category Theory (ACT2026)</a> will take place in Tallinn, Estonia from 6 - 10 July, preceded by the <a
      href="https://adjointschool.com/">Adjoint School</a> Research Week from June 29 - July 3, 2026.</p>

  <wa-divider></wa-divider>

  <wa-carousel class="side-carousel" autoplay loop pagination autoplay-interval="7000">
    <wa-carousel-item>
      <blockquote>
        Finally, from so little sleeping and so much reading, his brain dried up and he went completely out of his mind.
        <cite>M. de Cervantes, "Don Quixote"</cite>
      </blockquote>
    </wa-carousel-item>
    <wa-carousel-item>
      <blockquote>
        If it were possible to learn mathematics without becoming confused, life would be wonderful.
        <cite>I. Stewart, D. Tall, "The Foundations of Mathematics"</cite>
      </blockquote>
    </wa-carousel-item>
    <wa-carousel-item>
      <blockquote>
        But now, and contra all prior belief
        we hear a point's a prime ideal,
        in a locally ringed space,
        overlaid with a sheaf!
        Professor G, is truly this for real?!
        <cite>R. Elwes, "The Grothendieck song"</cite>
      </blockquote>
    </wa-carousel-item>
  </wa-carousel>

</div>